:root {
  --background: #0d0221;
  --minute-active: #79acb4;
  --minute-passed: #0f084b;
  --second-active: #c2e7d9;
  --second-passed: #26408b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  display: grid;
}

h1 {
  color: var(--second-passed);
  margin: 3% auto;
  text-align: left;
  font-size: 5vw;
  width: 50vw;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#timer {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}

.minute-tile {
  display: flex;
  flex-wrap: wrap;
  width: 18%;
  margin: 1%;
  background-color: var(--background);
  border-radius: 2%;
}

.minute-tile-active {
  background-color: var(--minute-active);
}

.minute-tile-passed {
  transition: ease-in-out 0.3;
  background-color: var(--minute-passed);
}

.second-tile {
  width: 18%;
  padding-top: 6%;
  margin: 1%;
  background-color: var(--background);
  border-radius: 3%;
}

.second-tile-active {
  background-color: var(--second-active);
}

.second-tile-passed {
  background-color: var(--second-passed);
}
